# Github Actions

name: Continuous Integration

on:
  push:
    branches: ["main"]
  workflow_dispatch: {}
  
jobs:
  build-test:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: build
        run: go build ./...
 
      - name: test
        run: go test ./...
  
  deploy:
    needs: build-test
    runs-on: ubuntu-latest

    if: github.event_name == 'workflow_dispatch'
    steps:
      - uses: appleboy/ssh-action@v1.0.3
        with:
          host: "${{ secrets.SSH_HOST }}"
          username: "${{ secrets.SSH_USER }}"
          key: "${{ secrets.SSH_KEY }}"
          port: 22
          script: |
            set -e
            cd /home/appuser
            chmod +x ./deploy.sh
            ./deploy.sh
