# Github Actions

name: Continuous Integration

on:
  push:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: build
        run: go build ./...
 
      - name: test
        run: go test ./...
